.sidebar {
  width: 5px;
  height: 100vh;
  display: flex;
  flex-direction: row;

  position: absolute;
}

.sidebar:hover {
  z-index: 99;
  width: 250px;
  border: 0px;
  border-right: 1px solid gainsboro;
  box-shadow: 0px 0px 5px 2px gainsboro;
  transition: all ease 0.1s;
  position: absolute;
  background-color: white;
}

.sidebar-hover {
  position: absolute;
  background-color: white;
  z-index: 99;
  height: 100vh;
  width: 20px;
  border: 0px;
  border-right: 1px solid gainsboro;
  transition: all ease 0.1s;
  box-shadow: 0px 0px 5px 2px gainsboro;
}

button {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
}

img {
  width: 24px;
  max-height: 24px;
}

.sidebar__notes {
  max-height: 24px;
  padding: 1em;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.sidebar__notes:hover {
  background-color: rgb(248, 208, 134);
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
