<div class="sidebar__notes sidebar__notes-notes" (click)="notesClicked()">
  <button>
    <img
      src="https://static.thenounproject.com/png/10329-200.png"
      alt="note-icon"
    />
  </button>
  <button>Notes</button>
</div>
<div class="sidebar__notes sidebar__notes-bell" (click)="remainderClicked()">
  <button>
    <img
      src="https://cdn.iconscout.com/icon/free/png-256/bell-479-458061.png"
      alt="bell-icon"
    />
  </button>
  <button>Remainders</button>
</div>
<div class="sidebar__notes sidebar__notes-edit">
  <button>
    <img
      src="
    https://cdn2.iconfinder.com/data/icons/education-2-45/48/71-512.png "
      alt="note-icon"
    />
  </button>
  <button>Edit Labels</button>
</div>
<div class="sidebar__notes sidebar__notes-archieve" (click)="archiveClicked()">
  <button>
    <img
      src="
        https://cdn.iconscout.com/icon/free/png-256/archive-rar-extract-zip-file-data-diocument-secure-31759.png"
      alt="note-icon"
    />
  </button>
  <button>Archieve</button>
</div>
<div class="sidebar__notes sidebar__notes-delete" (click)="delete()">
  <button>
    <img
      src="
  https://www.svgrepo.com/show/21045/delete-button.svg"
      alt="note-icon"
    />
  </button>
  <button>Trash</button>
</div>
