<mat-toolbar>
  <div class="toolbar__left">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="toolbar__keep">
      <img
        src="https://www.gstatic.com/images/branding/product/2x/keep_2020q4_48dp.png"
        alt="keep-image"
      />
      <span>Fundoo</span>
    </span>
  </div>
  <form class="toolbar__mid" [formGroup]="searchForm">
    <div class="search">
      <mat-icon class="search__icon">search</mat-icon>
      <input
        type="text"
        formControlName="searchbar"
        id="search-input"
        autocomplete="off"
        (focus)="navigateToSearch()"
        (keyup)="searchNotes()"
      />
      <button
        mat-icon-button
        *ngIf="!!searchbar.value"
        (click)="reset()"
        type="button"
        class="search__icon-close"
      >
        <mat-icon> close </mat-icon>
      </button>
    </div>
    <button type="button" class="grid" mat-icon-button>
      <img
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGlkPSJsaXN0X3ZpZXdfMjRweCIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBvbHlnb24gaWQ9ImJvdW5kcyIgZmlsbC1vcGFjaXR5PSIwIiBmaWxsPSIjRkZGRkZGIiBwb2ludHM9IjAgMCAyNCAwIDI0IDI0IDAgMjQiPjwvcG9seWdvbj4KICAgICAgICA8cGF0aCBkPSJNMjAsOSBMNCw5IEw0LDUgTDIwLDUgTDIwLDkgWiBNMjAsMTkgTDQsMTkgTDQsMTUgTDIwLDE1IEwyMCwxOSBaIE0zLDMgQzIuNDUsMyAyLDMuNDUgMiw0IEwyLDEwIEMyLDEwLjU1IDIuNDUsMTEgMywxMSBMMjEsMTEgQzIxLjU1LDExIDIyLDEwLjU1IDIyLDEwIEwyMiw0IEMyMiwzLjQ1IDIxLjU1LDMgMjEsMyBMMywzIFogTTMsMTMgQzIuNDUsMTMgMiwxMy40NSAyLDE0IEwyLDIwIEMyLDIwLjU1IDIuNDUsMjEgMywyMSBMMjEsMjEgQzIxLjU1LDIxIDIyLDIwLjU1IDIyLDIwIEwyMiwxNCBDMjIsMTMuNDUgMjEuNTUsMTMgMjEsMTMgTDMsMTMgWiIgaWQ9Imljb24iIGZpbGw9IiMwMDAwMDAiIGZpbGwtcnVsZT0ibm9uemVybyI+PC9wYXRoPgogICAgPC9nPgo8L3N2Zz4K"
        alt=""
      />
    </button>
  </form>
  <div class="toolbar__right">
    <button mat-mini-fab disableRipple type="button" [matMenuTriggerFor]="menu">
      <mat-icon class="menu-icon">account_circle</mat-icon>
    </button>
  </div>
  <mat-menu #menu="matMenu" [hasBackdrop]="false">
    <ng-template matMenuContent>
      <div class="container">
        <div class="container__image">
          <a mat-fab>
            <mat-icon class="menu-icon">account_circle</mat-icon>
          </a>
        </div>
        <div class="container__info"></div>
        <div class="container__manage">
          <button mat-stroked-button>Manage your Fundoo Account</button>
        </div>
        <div class="container__anoter-account">
          <button mat-flat-button>
            <img
              src="https://cdn0.iconfinder.com/data/icons/essential-02/50/AddPerson-512.png"
              alt="add"
            />
            Add another account
          </button>
          <div class="container__sign-out">
            <button mat-stroked-button (click)="logout()">Sign out</button>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-menu>
</mat-toolbar>
