@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.toolbar__right {
  display: flex;
  justify-content: space-between;
  justify-items: flex-end;
  justify-self: flex-end;
  align-items: center;
}

.mat-button {
  min-width: 0px;
  padding: 2px;
  line-height: 0;

  border-radius: 50%;
}

.toolbar__left {
  display: flex;
  align-items: center;
}

.mat-toolbar {
  background-color: white;
  border-bottom: 1.5px solid gainsboro;
  display: flex;
  justify-content: space-between;
  min-width: 0px;
}

.toolbar__keep {
  display: flex;
  align-items: center;
  color: #5f6368;
  font-weight: 500;
  font: 22px "Arial";
}

.toolbar__keep img {
  padding: 5px;
  height: 40px;
}

.toolbar__keep span {
  padding: 5px 0 0 4px;
  line-height: 24px;
}

.toolbar__mid {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  margin-left: 8%;
  height: 100%;
  min-width: 200px;
}

.toolbar__mid .grid {
  margin-left: 5%;
}

.search {
  display: flex;
  height: 100%;
  width: 70%;
  align-items: center;
  position: relative;
}

#search-input:focus {
  background-color: white;
  box-shadow: 0px 1px 2px 0px gray;
}

#search-input {
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
  outline: none;
  padding: 1.3em;
  padding-left: 3em;
}

.search__icon {
  position: absolute;
  left: 10px;
}

.search__icon-close {
  right: 10px;
  position: absolute;
}

.focus {
  background-color: white;
  box-shadow: 0px 0px 2px 0px gainsboro;
}

.mat-mini-fab.mat-accent {
  background-color: gainsboro !important;
}
.container {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: white;
  z-index: 99;
}

.container > * {
  padding: 0.5em;
  margin: 0;
}

.container__image button {
  padding: 0;
  margin: 0;
}

element.style {
  font-size: 52px;
}

.container__info {
  margin: 0;
  font-size: 16px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__info span {
  font-weight: 500;
}

.container__info p {
  color: rgba(0, 0, 0, 0.6);
}

.container__manage button {
  border-radius: 20px;
}

.container__anoter-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.6);
}
.container__anoter-account button {
  width: 100%;
  border: 1px solid gainsboro;
  margin-bottom: 0px;
  padding: 0.5em;
}

.container__anoter-account button:hover {
  background-color: gainsboro;
}

.container__anoter-account button img {
  height: 24px;
  width: 24px;
}

.container__sign-out {
  margin-top: 0px;
  text-align: center;
  width: 100%;
  border: 1px solid gainsboro;
}

.container__sign-out button {
  margin: 0.8em;
  padding: 0.3em;
  width: 80px;
}

.footer {
  display: flex;
  padding: 1em;
  justify-content: center;
}

footer a {
  padding: 0em;
}
