<div class="container">
  <h2>
    <span class="logo f">F</span><span class="logo u">u</span>
    <span class="logo n">n</span><span class="logo d">d</span
    ><span class="logo o">o</span><span class="logo o">o</span>
  </h2>
  <h1>Find your email</h1>
  <h4>Enter your password </h4>
  <form [formGroup]="forgotEmailForm" (ngSubmit)="submit()">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput  autocomplete="off" type="password" formControlName="password" />
        <mat-error *ngIf="forgotEmailForm.controls.password.errors">*Enter Password</mat-error>
      </mat-form-field>
      

    <div class="last-row">
      <button mat-raised-button color="primary">Next</button>
      
    </div>
  </form>
</div>
