<mat-accordion>
  <mat-expansion-panel
    [expanded]="step === 3"
    (opened)="setStep(3)"
    hideToggle
    [style.background-color]="isColor"
  >
    <mat-expansion-panel-header>
      <form [formGroup]="form" (ngSubmit)="onClose()" id="my-form">
        <div>
          <div
            style="
              display: flex;
              align-items: flex-end;
              justify-content: space-between;
            "
          >
            <div>
              <input
                [style.background-color]="isColor"
                class="searchInput"
                type="text"
                placeholder="Title"
                formControlName="titleText"
              />
            </div>

            <mat-icon>check_box</mat-icon>

            <mat-icon>brush</mat-icon>

            <mat-icon> insert_photo</mat-icon>
          </div>
        </div>
      </form>
    </mat-expansion-panel-header>

    <form [formGroup]="form">
      <div>
        <input
          [style.background-color]="isColor"
          class="searchInput"
          type="text"
          placeholder="Take a Notes.."
          formControlName="notesText"
        />
      </div>
      <div style="display: flex; justify-content: space-between">
        <app-icon
          (ItemEvent1)="getColor1($event)"
          style="width: 60%"
        ></app-icon>
        <button mat-button type="submit" form="my-form" (click)="nextStep()">
          Close
        </button>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
