<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <form [formGroup]="form" (ngSubmit)="onClose()" id="my-form">
        <div>
          <div
            style="
              display: flex;
              align-items: flex-end;
              justify-content: space-between;
            "
          >
            <div>
              <input
                class="searchInput"
                type="text"
                placeholder="Title"
                formControlName="titleText"
              />
            </div>

            <mat-icon>check_box</mat-icon>

            <mat-icon>brush</mat-icon>

            <mat-icon> insert_photo</mat-icon>
          </div>
        </div>
      </form>
      <!-- <div *ngIf="false">
        <mat-icon>push_pin</mat-icon>
      </div> -->
    </mat-expansion-panel-header>

    <form [formGroup]="form">
      <div>
        <input
          class="searchInput"
          type="text"
          placeholder="Take a Notes.."
          formControlName="notesText"
        />
      </div>
      <div style="display: flex; justify-content: space-between">
        <app-icon style="width: 60%"></app-icon>
        <button mat-button type="submit" form="my-form">Close</button>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
