<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <form>
        <div>
          <div
            style="
              display: flex;
              align-items: flex-end;
              justify-content: space-between;
            "
          >
            <div>
              <input
                class="searchInput"
                type="text"
                placeholder="Title"
                formControlName="titleText"
              />
            </div>
            <div>
              <mat-icon>check_box</mat-icon>
            </div>
            <div>
              <mat-icon>brush</mat-icon>
            </div>
            <div>
              <mat-icon> insert_photo</mat-icon>
            </div>
          </div>
        </div>
      </form>
    </mat-expansion-panel-header>

    <form>
      <div>
        <input
          class="searchInput"
          type="text"
          placeholder="Take a Notes.."
          formControlName="notesText"
        />
      </div>
      <div style="display: flex; justify-content: space-between">
        <div>
          <mat-icon>Add Alert</mat-icon>
        </div>
        <div>
          <mat-icon>Person Add Alt</mat-icon>
        </div>
        <div>
          <mat-icon>Palette</mat-icon>
        </div>
        <div>
          <mat-icon>insert_photo</mat-icon>
        </div>
        <div>
          <mat-icon>Archive</mat-icon>
        </div>
        <div>
          <mat-icon>More Vert </mat-icon>
        </div>
        <button mat-button type="submit">Close</button>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
