.mar {
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin-left: 170px;
  width: 1100px;
}

.icon-flex {
  display: flex;
  width: 20px;
  justify-content: space-around;
}

.icons {
  // display: none;
  visibility: hidden;
}

.mar:hover .icons {
  visibility: visible;
}

.mar .mat-card {
  margin-left: 15px;
}

::ng-deep .mat-standard-chip.mat-chip-with-trailing-icon {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.display {
  display: flex;
}

::ng-deep .mat-card {
  margin-top: 20px;
}

.flexcontainer {
  flex-flow: column wrap;
}
