<div class="mar">
  <mat-card class="main-card" *ngFor="let note of notes">
    <div class="title-discription" (click)="openDialog(note)">
      <div>
        <div>
          <h2 class="wordBreakTitle">
            {{ note.title }}
          </h2>
        </div>
      </div>

      <div class="descriptionbox" (click)="openDialog(note)">
        <h3 class="wordBreak">{{ note.description }}</h3>
      </div>
    </div>

    <div class="icons">
      <app-icon></app-icon>
    </div>
  </mat-card>
</div>
