.container {
  display: flex;
  padding: 3em;
  min-width: 500px;
  width: 53%;
  margin: 2% auto;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 2 1 rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  
}

.logo {
  font-weight: bolder;
}

.f {
  color: dodgerblue;
}

.u {
  color: red;
}

.n {
  color: yellow;
}

.d {
  color: blue;
}

.o {
  color: green;
}

.container__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container__left {
  width: 70%;
}

.container__right {
  margin: 2%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__right img {
  height: 250px;
  width: 250px;
}

.tag-line {
  font-size: medium;
  text-align: center;
  font-weight: 100;
}

.container__form > div {
  width: 100%;
}

.mat-form-field {
  min-width: 200px;
  margin-right: 2%;
}

.form__second-row .mat-form-field {
  width: 400px;
}

.container__checkbox {
  display: flex;
  align-self: baseline;
  padding: 5px;
}

.container__buttons {
  margin-top: 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container__buttons button:first-child {
  color: dodgerblue;
}

.container__buttons button:first-child:hover {
  background-color: rgba(30, 144, 255, 0.05);
}

.container__buttons button:last-child {
  margin-right: 7%;
  background-color: #3566b8;
  height: 50px;
  width: 70px;
}

select {
  background: none;
  outline: none;
  border: none;
}

.footer {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1270px) {
  .container__right {
    display: none;
    overflow: hidden;
  }
  .container {
    width: 40%;
    min-width: 300px;
  }
  .form__second-row .mat-form-field {
    width: 100%;
  }
  .container__buttons {
    justify-content: space-between;
    min-width: 320px;
    padding-right: 0;
  }
  .footer {
    align-items: center;
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }
}
