<div class="Body">
  <div class="Form">
    <h2>Create your Account</h2>
    <div class="flex1">
      <div class="row-content1">
        <input
          class="input"
          type="text"
          placeholder="  First Name"
          id="firstName_Id"
        />
      </div>
      <div class="row-content2">
        <input
          class="input"
          type="text"
          placeholder="  Last Name"
          id="lastName_Id"
        />
      </div>
    </div>
    <div class="row-content3">
      <input
        class="input_Email"
        type="text"
        placeholder="  Your Email Address"
        id="firstName_Id"
      />
    </div>
    <div class="flex2">
      <div class="row-content1">
        <input
          class="input"
          type="text"
          placeholder="  Password"
          id="firstName_Id"
        />
      </div>
      <div class="row-content2">
        <input
          class="input"
          type="text"
          placeholder="  Confirm"
          id="lastName_Id"
        />
      </div>
    </div>
    <div class="modal-footer">
      <button onclick="submitData()" class="button">Submit</button>
    </div>
  </div>
</div>
