<div class="Body">
  <div class="Form">
    <h2>Create your Account</h2>
    <div class="flex1">
      <div class="row-content1">
        <input class="input" type="text" placeholder="  First Name" />
      </div>
      <div class="row-content2">
        <input class="input" type="text" placeholder="Last Name" />
      </div>
    </div>
    <div class="row-content3">
      <input class="input_Email" type="text" placeholder="Email Address" />
    </div>
    <div class="flex2">
      <div class="row-content1">
        <input class="input" type="text" placeholder=" Password" />
      </div>
      <div class="row-content2">
        <input class="input" type="text" placeholder="  Confirm" />
      </div>
    </div>
    <div class="modal-footer">
      <button onclick="submitData()" class="button">Next</button>
    </div>
  </div>
</div>
