span {
  margin-left: 33px;
}

.first-row {
  display: flex;
}

span:hover {
  border: 2px solid black;
}

.color {
  height: 20px;
  width: 10px;
}

// .body {
//   background-color: #ffff;
//   height: 107px;
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
//   justify-content: space-between;
// }

// div.circle {
//   border-radius: 50px/50px;
//   width: 0px;
//   height: 0px;
//   cursor: pointer;
// }
