@mixin color {
  width: 25px;
  height: 25px;
  background-color: white;
  margin-left: 10px;
  border-radius: 50%;
  margin-top: 5px;
  border: 1px solid lightgray;
}

@mixin last-color {
  @include color();
  margin-right: 10px;
}

.pallet-division {
  .color-one {
    @include color();
  }

  .color-two {
    @include color();
    background-color: #f28b82;
  }

  .color-three {
    @include color();
    background-color: #fbbc04;
  }

  .color-four {
    @include last-color();
    background-color: #fff475;
  }

  .color-five {
    @include color();
    background-color: #ccff90;
  }

  .color-six {
    @include color();
    background-color: #a7ffeb;
  }

  .color-seven {
    @include color();
    background-color: #cbf0f8;
  }

  .color-eight {
    @include last-color();
    background-color: #aecbfa;
  }

  .color-nine {
    @include color();
    background-color: #d7aefb;
  }

  .color-ten {
    @include color();
    background-color: #fdcfe8;
  }

  .color-eleven {
    @include color();
    background-color: #e6c9a8;
  }

  .color-twelve {
    @include last-color();
    background-color: #e8eaed;
  }
}
