<mat-card class="active-add-note" [style.background-color]="color">
  <form [formGroup]="form" (ngSubmit)="updateNote()">
    <div fxLayout="row" class="active-input">
      <input
        type="text"
        placeholder="title"
        formControlName="title"
        [style.background-color]="color"
      />
    </div>
    <div fxLayout="row" class="note-input">
      <textarea
        type="text"
        placeholder="Take a note"
        formControlName="description"
        [style.background-color]="color"
      >
      </textarea>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="icons">
      <app-icon (ItemEvent1)="getColor2($event)" style="width: 60%"></app-icon>
      <button mat-raised-button class="close-button">Close</button>
    </div>
  </form>
</mat-card>
