<div style="display: flex; justify-content: space-around; align-items: center">
  <mat-icon>add_alert</mat-icon>

  <mat-icon>person_add</mat-icon>

  <!-- <mat-icon>palette</mat-icon> -->
  <app-color class="child-color" (ItemEvent)="getColor($event)"></app-color>

  <mat-icon> insert_photo</mat-icon>

  <button mat-icon-button (click)="archieveNote()">
    <mat-icon>archive</mat-icon>
  </button>

  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="deleteNote()">
      <span>Delete note</span>
    </button>
  </mat-menu>
</div>
