.container {
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin-left: 90px;
  width: 1000px;
  justify-content: space-around;
}
.third-block {
  visibility: hidden;
}
