<mat-card
  class="main-card"
  *ngFor="let note of notes"
  [style.background-color]="note.color"
>
  <div class="title-discription">
    <div fxLayout="row">
      <div fxFlex="20">
        <p class="wordBreakTitle">{{ note.title }}</p>
      </div>
    </div>

    <div class="descriptionbox">
      <p class="wordBreak">{{ note.description }}</p>
    </div>
  </div>
  <mat-card-actions class="third-block">
    <div>
      <app-icon [noteId]="note.id"></app-icon>
    </div>
  </mat-card-actions>
</mat-card>
