<div class="container">
  <h2>
    <span class="logo f">F</span><span class="logo u">u</span>
    <span class="logo n">n</span><span class="logo d">d</span
    ><span class="logo o">o</span><span class="logo o">o</span>
  </h2>
  <h1>Sign in</h1>
  <h4>Continue to Fundoo</h4>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput  autocomplete="off" formControlName="email" />
        <mat-error *ngIf="loginForm.controls.email.errors">*Enter an Email</mat-error>
      </mat-form-field>
      <a routerLink="/forgot-email"></a>
      <mat-form-field appearance="outline">
        <mat-label>Enter your Password</mat-label>
        <input matInput type = "email" formControlName="email" />
        <mat-error *ngIf="loginForm.controls.email.errors">
          *Enter an Email
        </mat-error>
      </mat-form-field>
    </p>
    <a routerLink="/forgot-passward">Forgot password?</a>
    <div class="last-row">
      <button mat-flat-button><a routerLink="/registration">Create account</a></button>
      <button mat-flat-button color="primary" type="submit" >Submit</button>
      <!-- [disabled]="!loginForm.valid" -->
    </div>
  </form>
</div>
