.header {
  display: flex;
  align-items: center;

  margin-top: 10px;

  box-sizing: border-box;
  border-bottom: black;
}

.head-left {
  background-color: rgb(255, 255, 255, 1);

  width: 20%;
  display: flex;

  background-color: rgb(255, 255, 255);
}

.head-center {
  display: flex;
  border-radius: 5px;
  background-color: rgb(235, 235, 235);
  width: 50%;
}

.head-right {
  background-color: rgb(255, 255, 255, 1);
  width: 25%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.example-container {
  height: 90%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  background-color: rgb(255, 255, 255, 1);
  outline: none;
  width: 20%;
}

button {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
}

.imgDimension {
  width: 34px;
  max-height: 34px;
}

.material-icons {
  padding: 0px;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 40px;
  padding: 0px 0px 0px 20px;
}

.searchInput {
  height: 8%;
  outline: none;
  border: transparent;
  background-color: rgb(235, 235, 235);
  padding: 0px 0px 0px 10px;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

::ng-deep .mat-menu-panel {
  min-width: 100px !important;
  min-height: 100px !important;
}

.noteDiv {
  display: flex;
  justify-content: center;
}
