.example-container {
  width: 1000px;
  height: 700px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

@media (max-width: 1270px) {
  .container__right {
    display: none;
    overflow: hidden;
  }
  .container {
    width: 40%;
    min-width: 300px;
  }
  .form__second-row .mat-form-field {
    width: 100%;
  }
  .container__buttons {
    justify-content: space-between;
    min-width: 320px;
    padding-right: 0;
  }
  .footer {
    align-items: center;
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }
}
